<div class="hero-unit">
<p>Рейтинг сборных ФИФА (официальное название Мировой рейтинг ФИФА/Coca-Cola (англ. The FIFA/Coca-Cola World Ranking)) — система ранжирования национальных сборных по футболу. Впервые была введена в 1993 году как относительный показатель силы сборной команды на текущий момент, позволяющий оценить динамику роста команды. Количество очков в рейтинге зависит от выступлений национальной команды за последние четыре года. Чем успешнее она выступает, тем выше место в рейтинге. За каждый сыгранный матч командам начисляются очки согласно правилам. В июле 2006 года, после чемпионата мира в Германии, в систему начисления очков были внесены значительные изменения.</p>
</div>

  <ul>
    <%= _.each(items, function(item){ %>1
  </ul>